<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Entries</h1>

<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Entry', new_entry_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @entries.each do |entry| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="word">
          <h1><%= entry.word %></h1>
        </td>
        <td><%= entry.pronunciation %></td>
        <td><%= entry.definition %></td>
        <td><%= entry.example %></td>
        <td><%= entry.image_url %></td>
        <td><%= entry.sound_url %></td>
        <td class="actions>
          <ul>
            <li><%= link_to 'Show', entry %></li>
            <li><%= link_to 'Edit', edit_entry_path(entry) %></li>
            <li><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
