<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th> word</th>
      <th>Pronunciation</th>
      <th>Definition</th>
      <th>Example</th>
      <th>Image url</th>
      <th>Sound url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry. word %></td>
        <td><%= entry.pronunciation %></td>
        <td><%= entry.definition %></td>
        <td><%= entry.example %></td>
        <td><%= entry.image_url %></td>
        <td><%= entry.sound_url %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
